<div class="container">
  <img
    src="assets/img/task-list-null.png"
    alt="Your list is empty - illustrative image"
    loading="eager"
  />
  <button class="btn btn-primary">Create your To Do List</button>

  <div>
    <label for="" class="input-label-text" for="inputValue">
      <input
        type="text"
        placeholder="Add a new item"
        autofocus
        id="inputValue"
      >

      <button class="btn btn-primary-circle" title="Add a new item"></button>
    </label>
  </div>
</div>
